@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.picture-fade {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
}

.text-title {

  -webkit-animation:  0.5s ease 0s normal forwards 1 fadein;
}

.text-subtitle {

  -webkit-animation:  0.75s ease 0s normal forwards 1 fadein;
}

.projects {

  -webkit-animation:  0.5s ease 0s normal forwards 1 fadein;
}

.standardfade {
  -webkit-animation:  0.5s ease 0s normal forwards 1 fadein;
}

.navBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 250px;
  /* -webkit-animation: fadein 1s; */
}

.node-x {
  height: 50px;
  width: 50px;
  animation-name: stretch-x;
  animation-duration: 6s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
 
}

.node-y {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  animation-name: stretch-y;
  animation-duration: 6s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
 
}

@keyframes stretch-x {
  0% {
    transform: scale(.3);
    background-color: skyblue;
    border-radius: 100%;
  }
  50% {
    background-color: aquamarine;
  }
  100% {
    transform: scale(1.5);
    transform: translateX( calc(20vw - 100px ));
    /* transform: translateY( calc(100vh - 100px )); */
    background-color: lightgreen;
  }
}


@keyframes stretch-y {
  0% {
    transform: scale(.3);
    background-color: skyblue;
    border-radius: 100%;
  }
  50% {
    background-color: aquamarine;
  }
  100% {
    transform: scale(1.5);
    transform: translateY( calc(25vh - 100px ));
    /* transform: translateY( calc(100vh - 100px )); */
    background-color: lightgreen;
  }
}

.navbar {
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 100;
  position: fixed;
  background-color: white;
  width: 100%;
}

.border-right {
  border-right: 1px solid #f0f0f0;
}

#fox1 {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
}
.subtext {
  animation: slidein 2s ease;
}
#circle1  {
  animation: loop 10s infinite;
}
#circle2 {
  animation: loop2 10s infinite;
}
#circle3 {
  animation: loop2 10s infinite;
}
#circle4 {
  animation: loop 10s infinite;
}
#circle5 {
  animation: loop 10s infinite;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
} 

@keyframes loop {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-20%, 20%);
  }
} 

@keyframes loop2 {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(20%, -20%);
  }
} 


#fox2 {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
}
#mysvg2circle1  {
  animation: up 15s infinite;
}
#mysvg2circle2 {
  animation: up 15s infinite;
}
#mysvg2circle3 {
  animation: up 15s infinite;
}
#mysvg2circle4 {
  animation: up 15s infinite;

}
#mysvg2circle5 {
  animation: up 15s infinite;

}


@keyframes up {
  from {
    transform: translate(0);
  }

  to {
    transform: translateY(-150%);
  }
} 

#robot {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
}
#eye1 {
  animation: openeyes 9s ;
}
#eye2 {
  animation: openeyes 9s ;
}
#leftarm {
  transform-origin: center;
  animation: moveleft 7s forwards;
}

#rightarm {
  transform-origin: center;
  animation: moveright 7s forwards;
}

#sensor {
  animation: turnonsensor 3s infinite;
}

#angrysensor {
  animation: turnonsensorangry 3s infinite;
}

#eye1angry {
  animation: openeyesangry 2s forwards ;
}
#eye2angry {
  animation: openeyesangry 2s forwards ;
}

@keyframes openeyes {
  from {
    height: 0px;
  }

  to {
    height: 21px;
  }
} 

@keyframes openeyesangry {
  from {
    height: 0px;
    fill: red;
  }

  to {
    height: 21px;
    fill: red;
  }
}

@keyframes moveleft {
  0%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg) translate(20%, 0);
  }
    

}

@keyframes moveright {
  0%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg) translate(-22%, 0);
  }
    

}

@keyframes turnonsensor {
  0% {
    fill:#ADD8E6
}

50% {
    fill: #D9D9D9
}

100% {
    fill: #ADD8E6
}
}

@keyframes turnonsensorangry {
  0% {
    fill: red
}

50% {
    fill: #D9D9D9
}

100% {
    fill: red
}
}

.bgimage {
  background-color: #f2eecb !important;
}

.background-image-home {
  background-image: url('../public/new-bg.png');
  height: 100%;
}

.background-image-about {
  background-image: url('../public/beach.png');
  height: 100%;
}

.background-image-projects {
  background-image: url('../public/ocean.png');
  height: 100%;
}



.card-background {
  background-color: #57A998
  
}

.card-background-inner {
  background-color: white
  
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.box {
  padding: 50px;
}

.heading:after{
  height: 1px;
  color: aquamarine;
}

.quickfadein {

  -webkit-animation:  0.3s ease 0s normal forwards 1 fadein;

}

::placeholder { /* Most modern browsers support this now. */
  color:    lightblue !important;
}




