@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.picture-fade {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
}

.text-title {

  -webkit-animation:  0.5s ease 0s normal forwards 1 fadein;
}

.text-subtitle {

  -webkit-animation:  0.75s ease 0s normal forwards 1 fadein;
}

.projects {

  -webkit-animation:  0.5s ease 0s normal forwards 1 fadein;
}

.navBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 250px;
  /* -webkit-animation: fadein 1s; */
}

.node-x {
  height: 50px;
  width: 50px;
  animation-name: stretch-x;
  animation-duration: 6s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
 
}

.node-y {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  animation-name: stretch-y;
  animation-duration: 6s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
 
}

@keyframes stretch-x {
  0% {
    transform: scale(.3);
    background-color: skyblue;
    border-radius: 100%;
  }
  50% {
    background-color: aquamarine;
  }
  100% {
    transform: scale(1.5);
    transform: translateX( calc(20vw - 100px ));
    /* transform: translateY( calc(100vh - 100px )); */
    background-color: lightgreen;
  }
}


@keyframes stretch-y {
  0% {
    transform: scale(.3);
    background-color: skyblue;
    border-radius: 100%;
  }
  50% {
    background-color: aquamarine;
  }
  100% {
    transform: scale(1.5);
    transform: translateY( calc(25vh - 100px ));
    /* transform: translateY( calc(100vh - 100px )); */
    background-color: lightgreen;
  }
}

.navbar {
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 100;
  position: fixed;
  background-color: white;
  width: 100%;
}

.border-right {
  border-right: 1px solid #f0f0f0;
}

#mysvg{
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
}
.subtext {
  animation: slidein 2s ease;
}
#circle1  {
  animation: loop 10s infinite;
}
#circle2 {
  animation: loop2 10s infinite;
}
#circle3 {
  animation: loop2 10s infinite;
}
#circle4 {
  animation: loop 10s infinite;
}


/* #Frame1
#triangle2 {
  animation: loop2 3s infinite;

}
#triangle3 {
  animation: loop 3s infinite;

} */

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
} 

@keyframes loop {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-20%, 20%);
  }
} 

@keyframes loop2 {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(20%, -20%);
  }
} 




